*, *::before, *::after{
   box-sizing: border-box;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: normal;
}


h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 1px;
}

body{
    padding: 0;
    margin: 0%;
    background: linear-gradient(to right, #00aaff, #00ffac);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    margin-top: 1px;
    padding-bottom: 200px;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minnmax(120px, auto) repeat(5, 100px);
}


.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(34, 77, 92);
    outline: none;
    background-color: rgb(203, 229, 238);
}

.calculator-grid > button:hover {
  background-color: rgb(137, 159, 163);
}

.span-two {
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    height: 70px;
}

.previous-operand {
    color: rgba(255,255,255,0.75);
    font-size: 1.5rem;
}

.current-operand {
    color: white;
    font-size: 2rem;
}

